

    
    <header>
      <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">ADMIN</a>
    
     {{#if ADMIN}}
     <a href="admin/logout"><button class="btn btn-outline-warning" type="submit">Logout</button></a> 
      {{else}}

      {{/if}}
    
  </div>
</nav>
    </header>  
